body{font-family: 'Roboto', sans-serif; min-width: 768px;  cursor: default;color: #000;}
input:focus, input:active, button:active, button:focus,a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline-style: none}

.top-page{background: url("../images/bg/bg-plane.png") no-repeat center center; height:1200px; min-width: 100%;  -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;  background-size: cover;  position: relative;  }
.top-page-result-search{background: url("../images/bg/bg-search.png") no-repeat center center; min-height:100px; min-width: 100%;  -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;  background-size: cover;  position: relative;  }
.top-page-result-search-train{background: url("../images/bg/bg-search-train.png") no-repeat center center; min-height:226px; min-width: 100%;  -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;  background-size: cover;  position: relative;  }
.top-page-result-search .navbar, .top-page-result-search-train .navbar{margin-bottom: 7px}

.navbar{border: 0;}
.menu-right{position: relative}

.user-menu{background-color:  rgba(11, 85, 168, 0.35);margin-top:0; position: relative; min-width: 265px; min-height:50px;padding: 12px 10px;}

#user-menu{position: absolute; right: 0;z-index: 1;}
.user-menu-list{background-color:  #46607d; display: flex; width: 410px}
.user-menu-list ul{margin: 6px 15px 3px 0;}
.user-menu-list ul label{color:#ffb400; font-size: 18px}



.user-menu>.sign-in>a, .user-menu>.log-out>a{color:#fff; font-size: 16px;font-weight: 400;}

.user-menu>.sign-in{background: url("../images/flag/login.png") 90% 50% no-repeat;padding: 3px 40px 3px 10px;}
.user-menu>.log-out{background: url("../images/flag/logout.png") 90% 50% no-repeat;padding: 3px 40px 3px 10px;}

.phone{color:#fff;font-size: 30px;font-weight: 500; margin-top: 17px;}
.feedback{text-align: center;}
.feedback a{color:#ffb400;font-size: 19px;font-weight: 400; border-bottom: 1px dashed #ffb400;}
a.dropdown-arrow:hover, a.dropdown-arrow:focus, a.dropdown-arrow:active,.feedback a:hover, .feedback a:focus, .feedback a:active{text-decoration: none}

.section-information .padding-left-a{padding-left: 80px;}
.section-information .padding-left-q{padding-left: 37px;}

a.dropdown-arrow:after{background: url("../images/icon/dropdown-up.png"); width: 12px; height: 5px;  overflow: no-display;  content:" ";  text-decoration: none;  position: absolute;  margin-top: 11px;  margin-left: 10px;  }
a.dropdown-arrow.collapsed:after{content:" ";  background: url("../images/flag/dropdown-arrow.png"); width: 12px; height: 5px; }
a.dropdown-arrow{color:#ffb400;font-size: 20px;font-weight: 400;}

.arrow-down{position: absolute;left: 49%;bottom: 100px;}

.name-section{color:#000;font-size: 36px;font-weight: 700;line-height: 30px; margin-top: 90px; margin-bottom:50px; }
.interesting-proposition .panel{margin-bottom: 40px;}
.interesting-proposition .panel-default .panel-heading{padding:20px 25px 15px; box-shadow: 0 2px 4px 0 rgba(8, 10, 12, 0.3);border: 0;color:  #ffffff; font-size: 24px;  font-weight: 400;  line-height: 30px; text-transform: uppercase;position: relative; z-index: 1}
.interesting-proposition .panel-default .panel-heading img{margin-left: 25px;}
.interesting-proposition .panel-blue .panel-heading{background-color:  #257ee1;}
.interesting-proposition .panel-green .panel-heading{background-color:  #35a69a;}
.interesting-proposition .panel-green-light .panel-heading{background-color:  #13be68;}
.interesting-proposition .panel-default .media-left{padding-right: 20px;}

.interesting-proposition .panel-body{padding: 34px 25px 20px 25px;background-color:#f2f2f2;box-shadow: 0 2px 4px 0 rgba(8, 10, 12, 0.5);min-height: 175px;}
.panel-text-bold{color:  #010101;font-size: 18px;font-weight: 700; line-height: 16px;padding-bottom: 10px;}
.panel-text-light{color:  #010101;font-size: 18px;font-weight: 400;padding-bottom: 9px}
.panel-text-bold-action{color:  #010101;font-size: 18px;font-weight: 700; line-height: 14px;}

.price-discont-blue{color:#155baa;font-size: 24px;font-weight: 900;padding-left: 5px;line-height: 30px;}
.price-discont-green{color:#2d9186;font-size: 24px;font-weight: 900; line-height: 10px}

.link-details-hotel{color:  #35a69a;font-size: 16px;font-weight: 400;position: absolute;bottom: 60px;text-decoration: underline; }
.link-action{color:  #4773b5;font-size: 24px;font-weight: 700;line-height: 30px;text-decoration: underline;margin-bottom: 45px;margin-top: 5px;}

.section-information{background-color:  #f2f2f2;box-shadow: 0 2px 4px 0 rgba(8, 10, 12, 0.5); padding: 30px 0 60px}
.info-heading{margin-left: -60px;}
.info-heading img{margin-right: 20px;}

#proposition .col-action-block{padding-right: 37px;padding-left: 37px;min-height: 290px;}
.date-article{color:#898989;font-size: 16px;font-weight: 400;line-height: 30px; margin-top: 20px;}
.info-heading.heading-for-article{margin-left: -77px}
.article a{color:  #0b55a8;  font-size: 24px;  font-weight: 400;  line-height: 30px;  text-decoration: underline;}

.accordion-body{color:#000;font-size: 18px;font-weight: 400; line-height: 30px; margin-top: 20px; margin-bottom: 5px;}
.link-details{color:#4773b5;font-size: 24px;font-weight: 700;line-height: 30px;text-decoration: underline; margin-top: 35px;}

.container.section-timetables{padding-bottom: 95px;}
.section-article{background-color:  #f2f2f2;box-shadow: 0 2px 4px 0 rgba(8, 10, 12, 0.5); padding: 50px 0 25px;}

.section-article h2{color:#000;font-size: 36px;font-weight: 400;line-height: 42px; margin-bottom: 40px;}
.section-article p{color:#000;font-size: 18px;font-weight: 400;line-height: 30px; padding-bottom: 25px;padding-right: 120px;}
.timetables{list-style-image: url("../images/icon/arrow-left.png");}
.timetables a{color:#000;font-size: 24px;font-weight: 400;line-height: 48px;margin-left: 10px;}
.timetables span{color:#000;font-size: 24px;font-weight: 900;line-height: 48px;margin-left: 5px;}
#section-timetables-train{display: none;}

.footer-info{background:url("../images/bg/bg-f.png") no-repeat; background-size: cover; color:#fff;font-size: 18px; padding: 57px 0 30px}
footer ul{list-style: none; padding: 0}
footer ul li a{color:#fff;font-size: 18px;line-height: 36px;}
footer ul li a:hover{color:#fff;}
footer p{padding: 48px 0 28px}
footer .col-sm-3 {padding-right: 55px;}
.address li{ margin-bottom: 10px}
.address li a{padding-left: 30px;}
#phone{background: url("../images/icon/phone-y.png") 0 5px no-repeat;}
#mail{background: url("../images/icon/mail-y.png") 0 5px no-repeat}
#skype{background: url("../images/icon/skupe-y.png") 0 5px no-repeat}

.social li{display: inline-block; margin-right: 15px}
#vk{background: url("../images/icon/vk.png") no-repeat; width: 32px; height: 33px}
#facebook{background: url("../images/icon/fc.png") no-repeat; width: 31px; height: 32px}
#twit{background: url("../images/icon/tw.png") no-repeat; width: 32px; height: 33px}

.padding-0{padding: 0}
.padding-left-0{padding-right: 0}
.padding-right-0{padding-left: 0}
.margin-0{margin: 0}
.margin-bottom-15{margin-bottom: 5px}
.margin-bottom-75{margin-bottom: 75px}

.support_payments{padding: 30px 0; margin: 0 auto; text-align: center;}
.support_payments img{margin-right: 20px}

.btn-find{border-radius: 4px;margin-top: 35px;background-color:  #afd820; box-shadow: 0 2px 4px 0 rgba(3, 4, 5, 0.5);text-transform: uppercase;width: 162px;height: 52px;color:  #ffffff;  font-size: 24px;  font-weight: 700;  line-height: 30px;}
.btn-request{width: 352px;height: 52px;margin-top: 35px; border: 1px solid #257ee1; color: #257ee1; background: transparent; text-transform: uppercase;font-size: 18px;font-weight: 400;  line-height: 35px;}
.btn-request-group{width: 358px;height: 52px;margin-top: 35px; border: 1px solid #257ee1; color: #257ee1; background: transparent; text-transform: uppercase;font-size: 18px;font-weight: 400;  line-height: 35px;}
.btn-log-in{border-radius: 4px;background-color:#1dd7ff;margin-top: 10px; box-shadow: 0 2px 2px 0 rgba(8, 10, 12, 0.5);width: 262px; height: 52px;color:#fff;font-size: 18px;font-weight: 400;line-height: 30px;text-transform:uppercase;}

.btn-request-group:hover,.btn-request:hover{background-color: #257ee1; color: #fff;}
.btn-find:hover{color:#fff;}
.btn-filter{margin-top: 20px;border-radius: 4px;background-color:  #3cc7ef;box-shadow: 0 2px 4px 0 rgba(3, 4, 5, 0.5); width: 258px; height: 56px; text-transform: uppercase; color: #fff; font-weight: 700; font-size: 20px; line-height: 30px}
.btn-filter.btn-filter-train{background-color:  #79c6ed;}
.btn-buy{border-radius: 4px;background-color:#007fe5; box-shadow: 0 2px 4px 0 rgba(3, 4, 5, 0.5);padding: 6px 0; width: 142px; margin-top: 10px; height: 48px;color:#fff;font-size: 24px;  font-weight: 700;  line-height: 35px; text-transform: uppercase}
.btn-buy-train{background-color:  #477ee1; margin-top: 0;}
.btn-buy-train-active{margin-top: 0;background-color:  #cbcbcb;}
.btn-buy-train-active:active, .btn-buy-train-active:hover, .btn-buy-train-active:focus, .btn-buy-train-active:visited,
.btn-buy-train:active, .btn-buy-train:hover, .btn-buy-train:focus, .btn-buy-train:visited{color: #fff;}

.container.form-result-search{padding: 0;}
.container.main-content{padding: 0; margin-top: 295px; position: relative; z-index: 10;}
.container.main-content .nav-tabs.nav-menu {border-bottom:0}
.container.main-content .nav-tabs.nav.nav-menu>li> a{ color: #fff;font-size: 18px;font-weight: 400;line-height: 30px;}
.nav>li>.avia-tickets:focus, .nav>li>.avia-tickets:hover,.nav-tabs>li.active>.avia-tickets, .nav-tabs>li.active>.avia-tickets:focus, .nav-tabs>li.active>.avia-tickets:hover {color: #fff;background-color: #257ee1;border: 1px solid #257ee1;height: 62px;  margin-top: -10px; padding-top: 15px;}
.nav-tabs .avia-tickets{background-color:#257ee1;}
.container.main-content .nav-tabs.nav.nav-menu>li.active>.avia-tickets{font-weight: 700;}

.nav>li>.train-tickets:focus, .nav>li>.train-tickets:hover,.nav-tabs>li.active>.train-tickets, .nav-tabs>li.active>.train-tickets:focus, .nav-tabs>li.active>.train-tickets:hover {color: #fff;background-color: #296992;border: 1px solid #296992; height: 62px;  margin-top: -10px; padding-top: 15px;}
.nav-tabs .train-tickets{background-color:#296992;}
.container.main-content .nav-tabs.nav.nav-menu>li.active>.train-tickets{font-weight: 700; }

.nav>li>.insurance:focus, .nav>li>.insurance:hover,.nav-tabs>li.active>.insurance, .nav-tabs>li.active>.insurance:focus, .nav-tabs>li.active>.insurance:hover {color: #fff;background-color: #1b8da5;border: 1px solid #1b8da5; height: 62px;  margin-top: -10px; padding-top: 15px;}
.nav-tabs .insurance{background-color:#1b8da5; padding: 10px 40px}
.container.main-content .nav-tabs.nav.nav-menu>li.active>.insurance{font-weight: 700; }

.nav>li>.hotel:focus, .nav>li>.hotel:hover,.nav-tabs>li.active>.hotel, .nav-tabs>li.active>.hotel:focus, .nav-tabs>li.active>.hotel:hover {color: #fff;background-color: #35a69a; border: 1px solid #35a69a;height: 62px;  margin-top: -10px; padding-top: 15px;}
.nav-tabs .hotel{background-color:#35a69a;padding: 10px 45px}
.container.main-content .nav-tabs.nav.nav-menu>li.active>.hotel{font-weight: 700; }

.container.form-result-search .form-search label{color:#fff;font-size: 16px;font-weight: 400;line-height: 30px;}
label{color:#000;font-size: 16px;line-height: 30px;font-weight: 400;padding-left: 8px; cursor: pointer;}
input[type="radio"] {opacity: 0;position: absolute;}
input[type="radio"] + label > span {position: relative;border-radius: 12px; width: 14px; height: 14px; background-color: #FFFFFF;  border: 1px solid  #939393;  margin: 0 10px 0 0;  display: inline-block;  vertical-align: middle;  }
input[type="radio"]:checked + label > span span {display: inline-block;width: 8px;height: 8px; position: absolute; left: 2px; top: 2px;  border-radius: 4px;  border: none;  background: #257ee1; }
input::-webkit-input-placeholder{color:#828282;font-size: 16px;font-weight: 400;}
input::-moz-placeholder{color:#828282;font-size: 16px;font-weight: 400;}

input[type="checkbox"] {display:none;}
input[type="checkbox"] + label span {display:inline-block; margin: -3px 9px 0 0; vertical-align:middle; background: url("../images/icon/uncheck.png") center no-repeat;  cursor:pointer; width:18px; height: 18px}
input[type="checkbox"]:checked + label span {background:url("../images/icon/check.png") center no-repeat; width:18px; height: 18px }
.input-arrow{background: url("../images/aviacompany/accord-down.png") no-repeat; width: 16px; height: 7px;position: absolute;right: 12px;bottom: 21px;}


.question{ margin-top: -15px; margin-left: 10px}
#insurance{padding-top: 60px;}
.radio-checked{margin-bottom: 23px; padding: 60px 35px 0;}
.radio-checked label{margin-right: 40px;}
.radio-checked .dificul{margin-right:0}

.wrap-add-fly{max-width: 1080px; margin-top: 20px;}
.form-search .wrap-add-fly-group.form-group{margin-right: 8px;}
/*.form-group-responsive{display: inline-block}*/
.form-group-search{padding: 0 35px 50px;}
.form-search label{display: block}
.form-search .form-group{position: relative;margin-right: 7px;}
.form-search .checkbox{margin-bottom: 20px; display: block;}
.form-search .question-priority-company{display:inline}
.form-search.form-inline .form-control {box-shadow: 0 2px 0 0 rgba(8, 10, 12, 0.5);border-top-color: transparent;height: 52px;font-size: 16px;color: #000;  text-overflow: ellipsis;  padding: 6px 30px 6px 12px; line-height: 17px;}
.form-search.form-inline .searched{color:  #ffffff;font-size: 18px;font-weight: 700;line-height: 30px; margin-right: 20px}
.count-tickets{color:#fff; font-size: 18px;font-weight: 400;line-height: 30px; margin: 35px 18px 0;}
.link-return-to-search-form{color:#fff;font-size: 16px;font-weight: 400;line-height: 70px;  text-decoration: underline;  text-align: center;}
.link-return-to-search-form:hover{color: #fff;}


.form-control.date-fly{width:172px;}
.form-control.to-fly{width: 262px;}
.form-control.count-people{width: 266px}
.form-control.priority-company{width: 360px}
.form-control.passengers{width: 350px;}
.form-control.flight-class{width: 152px;}
.form-control.sum-insured{width: 174px;}
.form-control.to-country{width: 500px;}
.form-control.to-fly-search-result{width: 320px}
.form-control.date-fly-search-result{width: 200px}
.form-control.series-passport{width: 75px}
.form-control.number-passport{width: 100px}
.form-control.date-birth{width: 75px}

.аdvanced-searh{background-color:  #e5e5e5;padding: 25px 0;}
.аdvanced-searh-content{background-color:  #e5e5e5;padding: 0 35px 30px; display: none}
.аdvanced-searh-content.not-authorized{padding: 0 35px 30px;}
.аdvanced-searh-content .form-group{display: table; margin-bottom: 20px}
.аdvanced-searh a{color:#000; font-size: 18px;font-weight: 400;line-height: 30px;padding: 25px;}
.аdvanced-searh a span{border-bottom: 2px dotted #000;}
.аdvanced-searh a:hover, .аdvanced-searh a:active, .аdvanced-searh a:visited, .аdvanced-searh a:focus{text-decoration: none;}
.аdvanced-searh-content .lg-offset {margin-left: 13.733333%;  }
.аdvanced-searh-content-not-authorized{background-color:  #e5e5e5;padding: 0 35px 50px; display: none}
.аdvanced-searh-content-not-authorized-train{background-color:#e5e5e5;padding: 25px;}
.аdvanced-searh-content-not-authorized{padding: 0 35px 30px;}
.аdvanced-searh-content-not-authorized .form-group{display: table; margin-bottom: 20px}
.аdvanced-searh-content-not-authorized .checkbox{display: inline-block; margin-right: 30px;}
.checkbox-wrapper-insurance .checkbox{display: inline-block; margin-right: 30px;margin-bottom: 0;}

.checkbox-wrapper{margin-top: 30px;} .checkbox-wrapper-insurance{margin-top: 18px;margin-bottom: -20px;}
.text-not-authorized{color:#000;font-size: 16px;font-weight: 400;line-height: 30px;}
.text-insurance{color:#000;font-size: 16px;font-weight: 400;line-height: 30px; margin-top: 20px;}
.text-not-authorized a{color:#000;text-decoration: underline}
.add-flight{color:#000;font-size: 14px;font-weight: 400;line-height: 30px;margin-right: 7px; margin-left: 5px}
.add-flight img, .train-there-back img{margin-right: 10px;}
.margin-top{margin-top: 35px}
.main-content .tab-content.tab-content-main{border: 4px solid #257ee1;background-color:  #f2f2f2;}

.search-link-arrow-down{background: url("../images/icon/arrow-down-b.png") no-repeat 100% 52%; width: 16px; height: 7px;}
.search-link-arrow-up{background: url("../images/icon/arrow-up-b.png") no-repeat 100% 52%; width: 16px; height: 7px;}

.qtyminus{width: 60px; text-align: right} .minus-insurance{width: 32px; text-align: right}
.qtyplus{width: 60px; text-align: left}  .plus-insurance{width: 32px; text-align: left}
.number{width: 42px;} .number-insurance{width: 42px;}
.minus, .plus{font-weight:bold;border:0;border-radius: 4px; height: 51px; background: #fff; color: #257ee1; font-size: 18px;}
.plus:active, .plus:focus, .plus:visited,.minus:active, .minus:focus, .minus:visited{outline-style: none}
.number{border:0;margin-left: -7px;margin-right: -5px; height: 51px; color:#000; border-radius: 0; text-align: center; font-size: 18px }
.minus:hover, .plus:hover{color: #ccc;}
.quantity{height: 52px;border-radius: 4px;border: 1px solid #ccc;box-shadow: 0 2px 0 0 rgba(8, 10, 12, 0.5); border-top-color: transparent;}

.modal-header {border-bottom: 0;color:rgba(0, 0, 0, 0.6);font-size: 18px;font-weight: 400;line-height: 30px;  text-align: center; text-transform: uppercase;}
.modal-content{background-color:  #f8f8f8; position: relative}
.modal-body{padding: 20px;}
.modal-dialog{width: 1222px;margin-top: 10%}
.modal-dialog.modal-tooltip{width: 360px; margin-top: 10%;}
.modal-dialog.modal-tooltip .modal-header{padding: 8px 8px 0;}
.modal-dialog.modal-tooltip .modal-body{padding:0 30px 30px;color:rgba(0, 0, 0, 0.6);font-size: 14px;font-weight: 400; line-height: 24px;}
.modal-body .form-group-search {padding: 0 0 35px;}
.modal-body  .personal-information{margin-top: 40px}
.modal-request-for-group.modal-content:after{bottom: 100%;left:30px;border: solid transparent;content: " "; height: 0;  width: 0;  position: absolute;  pointer-events: none;  border-color: rgba(248, 248, 248, 0);  border-bottom-color: #f8f8f8;  border-width: 13px;  margin-left: -13px;}

a.accordion-toggle:after{background: url("../images/aviacompany/accord-up.png"); width: 16px; height: 7px;  overflow: no-display;  content:" ";  text-decoration: none;  position: absolute;  margin-top: 20px;  margin-left: 10px;  }
a.accordion-toggle.collapsed:after{content:" ";  background: url("../images/aviacompany/accord-down.png"); width: 16px; height: 7px;  }
a.accordion-toggle.collapsed{border-bottom: 3px dotted #0b55a8;}
a.accordion-toggle{color:#0b55a8;font-size: 24px;  font-weight: 400;  line-height: 50px;  text-decoration:none;  border-bottom: 0;}

a.filter-accordion-toggle:after{background: url("../images/icon/filter-up.png"); width: 14px; height: 6px;  overflow: no-display;  content:" ";  text-decoration: none;  position: absolute;  margin-top: 13px;  margin-left: 10px;  }
a.filter-accordion-toggle.collapsed:after{content:" ";  background: url("../images/icon/filter-down.png"); width: 14px; height: 6px;  }
a.filter-accordion-toggle{color:#000;font-size: 16px;font-weight: 700;line-height: 30px;text-decoration:none;border-bottom: 2px dotted #000;}
a.filter-accordion-toggle.show-all.collapsed,a.filter-accordion-toggle.show-all {color: #010101;font-size: 16px;font-weight: 400; line-height: 30px;}
.filter-name{color:#000;font-size: 16px;font-weight: 700;line-height: 35px;text-decoration:none;}

a.search-more-accordion-toggle:after{background: url("../images/icon/arrow-up-search.png"); width: 16px; height: 7px;  overflow: no-display;  content:" ";  text-decoration: none;  position: absolute;  margin-top: 13px;  margin-left: 10px;  }
a.search-more-accordion-toggle.collapsed:after{content:" ";  background: url("../images/icon/arrow-down-search.png"); width: 16px; height: 7px;  }
a.search-more-accordion-toggle{color:#007fe5;font-size: 14px;font-weight: 400;line-height: 30px;text-decoration:none;border-bottom: 2px dotted #007fe5;}

.form-inline .form-group.fly-returm,.form-inline .form-group.add-flight{display: none}

/**********************AUTOCOMPLIT*************************************************************************************/
.row-ui{margin: 50px 0}
.autocomplete-wrap{position: relative;background:#0b2038;border-radius: 5px;}
.autocomplete-wrap:after {bottom: 100%;left: 20px;border: solid transparent;  content: " ";  height: 0;  width: 0;  position: absolute;  pointer-events: none;  border-color: rgba(136, 183, 213, 0);  border-bottom-color: #0b2038;  border-width: 15px;  }
.autocomplete-where-to-fly{width: 457px;}
.autocomplete-where-to-fly .nav-tabs>li.active>a,
.autocomplete-where-to-fly .nav-tabs>li.active>a:focus,
.autocomplete-where-to-fly .nav-tabs>li.active>a:hover {color: #1dd7ff;cursor: default;background-color: transparent;  border: 1px solid transparent;  }
.autocomplete-where-to-fly .nav-tabs {border-bottom: 1px solid #1dd7ff; padding: 20px 20px 5px;margin-bottom: 30px;  }
.autocomplete-where-to-fly .nav-tabs>li>a{color: #fff; font-size: 16px; font-weight: 400;  line-height: 30px;  padding: 0;  }
.autocomplete-where-to-fly .nav-tabs>li{padding:0 47px 0 0}
.autocomplete-where-to-fly .nav-tabs>li:last-child{padding:0}
.autocomplete-where-to-fly .nav-tabs>li>a:hover {border-color: transparent;background-color: transparent}
.autocomplete-where-to-fly .nav-tabs>li img{display: none;}
.autocomplete-where-to-fly .nav-tabs>.anywhere.active .link1{display: block; position: absolute;left: 18%;  bottom: -18px;}
.autocomplete-where-to-fly .nav-tabs>.cities-and-airports.active .link2{display: block; position: absolute;left: 27%;  bottom: -18px;}
.autocomplete-where-to-fly .nav-tabs>.country.active .link3{display: block; position: absolute;left: 27%; bottom: -18px;}
.autocomplete-wrap.autocomplete-where-to-fly .tab-content{background:#0b2038; border: 0}


.sub-list li{padding-left: 58px;padding-right: 50px;}
.sub-list li:hover, .list-all-link:hover, .list-all-link.active-link,.scroll-owerflow .autocomplete-checkbox li:hover{background-color:  rgba(255, 255, 255, 0.2);}
.list-all-link {padding: 6px 50px 6px 30px;}
.all-aeroport-link{width: 330px;display: inline-block;}
.sub-list li a{color:#fff;font-size: 16px;font-weight: 400; line-height: 36px}
.autocomplete-insurance ul li a, .plus-link, .info-booking{color:#fff;font-size: 16px;font-weight: 400; line-height: 30px}

.list-all-aeroport li{color:#ffffff;font-size: 16px;font-weight: 400;line-height: 25px}
.list-all-aeroport li .aqua-letters{color:#1dd7ff;}
.location-code {color: rgba(255, 255, 255, 0.35);font-size: 18px;  font-weight: 400;  width: 40px;  text-align: center;  float: right;  }

.autocomplete-from-where-fly{width: 452px; padding-top:20px;}
.autocomplete-from-where-fly .text-all-aeroport{color:#979797;font-size: 16px;font-weight: 400;}
.autocomplete-from-where-fly .list-all-aeroport .active-link{background-color:  rgba(255, 255, 255, 0.2);padding: 4px 20px 4px 20px;}
.autocomplete-from-where-fly .sub-list li{padding-left: 58px;padding-right: 20px;}
.autocomplete-from-where-fly .list-all-link {padding: 6px 20px 6px 20px;}

.autocomplete-from-where-train{width: 292px; padding:20px 0 10px;}
.autocomplete-select-country{width: 550px; padding: 25px 0 5px;}
.autocomplete-insurance{width: 116px; padding: 20px 15px 5px}
.autocomplete-class-fly{width: 112px;}
.autocomplete-check-passengers{width: 350px}
.autocomplete-priority-company{width: 452px; padding: 20px 0;}

.autocomplete-calendar{width: 583px;padding:20px 0 15px;}
.navigation-arrow-left{background:url("../images/icon/arrow-left-calendar.png") center no-repeat; width: 7px; height: 16px;display: inline-block; margin-right: 60px}
.navigation-arrow-right{background:url("../images/icon/calehdar-right.png") center no-repeat; width: 7px; height: 16px;display: inline-block; margin-left: 60px;}

.navigation-arrow-left:hover{background:url("../images/icon/calendar-hover-left.png") center no-repeat; width: 7px; height: 16px;}
.navigation-arrow-right:hover{background:url("../images/icon/arrow-right-calendar.png") center no-repeat; width: 7px; height: 16px;}

.calendar-month{border-bottom: 1px solid #1dd7ff; padding: 10px 25px}
.calendar-month span{color:#fff;font-size: 18px;font-weight: 400;line-height: 30px;}
.radio-checked-calendar{padding: 10px 20px;}
.radio-checked-calendar input[type="radio"] {opacity: 0;position: absolute;}
.radio-checked-calendar input[type="radio"] + label > span {position: relative;border-radius: 12px; width: 16px; height: 16px; background-color: #FFF; margin: 0 10px 0 0;  display: inline-block;  vertical-align: middle;  }
.radio-checked-calendar input[type="radio"]:checked + label > span span {display: inline-block;width: 10px;height: 10px; position: absolute; left: 2px; top: 2px;  border-radius: 6px;  border: none;  background: #1dd7ff; }
.radio-checked-calendar label{margin-right: 35px}
.day,.weekdays{margin: 10px 25px;display: flex; flex-wrap: wrap; width: 236px;flex: 0 0 auto;justify-content: flex-start;}
.weekdays span{width: 33px;color:  #88b1df;font-size: 18px;font-weight: 400;line-height: 30px; text-align: center;}

.day a{width: 33px; margin-bottom:10px;color:#fff;font-size: 18px;font-weight: 400;line-height: 22px; text-align: center;position: relative;  z-index: 1;}
a.day-check:before{content:""; border-radius: 50%;background-color:  #1dd7ff;width: 33px;height: 33px;text-align: center; display: block;  position: absolute;  z-index: -1;  top: -5px;}

a.three-day-check{background-color:  #1dd7ff;text-align: center;}
a.select-date{color: #5a5a5a;}

a.three-day-check.round-left{border-bottom-left-radius: 15px;border-top-left-radius: 15px;}
a.three-day-check.round-right{border-bottom-right-radius: 15px;border-top-right-radius: 15px;}

.autocomplete-class-fly .autocomplete-checkbox input[type="checkbox"] + label span{margin: -7px 9px -3px 5px;}
.autocomplete-class-fly .autocomplete-checkbox{padding: 10px 0 10px}
.autocomplete-checkbox label,.radio-checked-calendar label{color: #fff; padding-left: 5px; display: inline-block}
.autocomplete-checkbox input[type="text"]{border-radius: 4px; padding-left: 10px; background-color: #ffffff; width: 70px;  height: 30px;border: 0;  margin-left: 10px;}
.autocomplete-checkbox input[type="checkbox"] {display:none;}
.autocomplete-checkbox input[type="checkbox"] + label span {display:inline-block;width:19px;height:19px;margin: -7px 9px -3px 10px; vertical-align:middle;background:url("../images/icon/uncheck-small.png") center no-repeat;  cursor:pointer;  }
.autocomplete-checkbox input[type="checkbox"]:checked + label span {background:url("../images/icon/check-small.png") center no-repeat;  }
.location{padding:5px 25px 20px;}
.location a{color:#fff;font-size: 14px;margin-left: 10px; font-weight: 400;line-height: 24px; text-decoration:none; border-bottom: 2px dotted #fff}
.add-passengers{padding-left: 20px; }
.add-passengers a{color:#fff;font-size: 14px;margin-left: 10px; font-weight: 400;line-height: 24px; text-decoration:none; border-bottom: 2px dotted #fff}

.scroll-owerflow{overflow: hidden;height: 295px;}

.autocomplete-check-passengers ul.autocomplete-checkbox{padding: 20px 0;margin-bottom: 0}
.autocomplete-passengers{width: 212px;padding: 25px 7px 25px 12px}
.custom-text-autocomplete{color:#fff;font-size: 14px;font-weight: 400;line-height: 24px}
.minus-passengers, .plus-passengers{color:  #35e0ff;font-size: 14px;font-weight: 900;line-height: 24px;border: 0; background: transparent}
.counter-passengers{width: 20px; height: 24px;border-radius: 4px;background-color:  #fff; border: 0; text-align: center}

#filter_options { width: 452px;  max-width: 100%; max-height:  250px; box-sizing: border-box; overflow: hidden;}
#filter_options > ul{margin-right: -30px; max-height: 100%; overflow: auto; }
#filter_options > b:first-child, #filter_options > b:first-child b { display: block; min-width: 7px; min-height: 25px; border-radius: 5px; }
#filter_options > b:first-child { position: absolute; margin-left: 437px; height: 250px;}
#filter_options > b:first-child b { background: #35e0ff; cursor: pointer; }
.clear{width: 100%; clear: both;}
.position-relative{position: relative}

#open-calendar,#open-calendar-three-day,#open-autocomplete-where-to-fly,#open-autocomplete-from-where-fly,
#open-autocomplete-passengers,#open-autocomplete-class-fly,#open-autocomplete-priority-company,
#open-autocomplete-check-passengers,#open-calendar-train, #open-calendar-three-day-train,#open-autocomplete-from-where-train,
#open-autocomplete-where-train, #open-autocomplete-calendar,#open-autocomplete-calendar-insurance,#open-autocomplete-select-country,
#open-autocomplete-insurance{position: absolute; top:110px; display: none;  }
.tooltip-arrive-next-day{position: absolute; top:120px; display: none;left: -26px;width: 195px; height: 56px;color:#fff;  font-size: 12px;  font-weight: 400;  line-height: 55px; border: 0;text-align: center }
.tooltip-arrive-next-day.tooltip-arrive-next-day-train{top:83px;}

#arrival-date-fly:focus ~ #open-calendar, #departure-date:focus ~ #open-calendar-three-day,
#from-to-fly:focus ~ #open-autocomplete-from-where-fly, #where-to-fly:focus ~ #open-autocomplete-where-to-fly,
#number-people:focus ~ #open-autocomplete-passengers, #flight-class:focus ~ #open-autocomplete-class-fly,
#priority-company:focus ~ #open-autocomplete-priority-company, #passengers:focus ~ #open-autocomplete-check-passengers,
#departure-date-train:focus ~ #open-calendar-train, #arrival-date-train:focus ~ #open-calendar-three-day-train,
#from-to-train:focus ~ #open-autocomplete-from-where-train, #where-to-train:focus ~ #open-autocomplete-where-train,
#departure-date-insurance:focus ~ #open-autocomplete-calendar, #arrival-date-insurance:focus ~ #open-autocomplete-calendar-insurance,
#from-to-insurance:focus ~ #open-autocomplete-select-country, #where-to-insurance:focus ~ #open-autocomplete-insurance, .next-day:hover ~ #arrive-next-day{display: block; z-index: 1}

/*******************FORM REGISTRATION**********************************************************************************/

.form-registation{background-color:#0b2038;}
.form-registation .form-group input{height: 52px;}
.form-registation .form-group label, .form-registation p{color:#fff;font-size: 16px;font-weight: 400;line-height: 15px;}
.form-registation a{color:#fff;font-size: 16px;font-weight: 400;line-height: 20px; text-decoration: underline}
.form-registation a img{margin-right: 15px;}
.form-registation .form-group{width: 262px; margin: 0 auto 20px;position: relative}
.form-registation p{text-align: center;margin-bottom: 5px;}
.forgot-pass{margin: 25px 0}
.form-registation .pass-instruction{padding: 0 35px;line-height: 24px;margin-bottom: 20px;}
.instruction-info{color:#fff;font-size: 18px;font-weight: 400;line-height: 24px; margin: 0 20px 50px;text-align: center;}
.select-wagon{color:#fff;font-size: 18px;font-weight: 400;line-height: 24px;text-align: center;}

.form-group.form-reg-corporate-entity{margin-bottom: 10px}
.form-reg-name-organization{display: none;}
.link-reservation{margin-top: 20px}
.cancel-reservation{box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15); border: 1px solid #e8e8e8;width: 360px; padding: 35px 20px;font-size: 16px;font-weight: 400; line-height: 20px}
.cancel-reservation a{color:#257ee1;font-size:14px;font-weight: 400; line-height: 20px; text-transform: uppercase;margin-left: 15px;}

.help-block{display: none}
.has-error label{display: none}
.has-error .help-block{padding-left:8px; margin-bottom: 5px}
.has-error .help-block, .has-error.form-control, .form-group.has-error input{border-color:#fb2d2d; color:#fb2d2d; display: block;font-size: 16px;  font-weight: 400;  line-height: 15px;}
.form-registation input:-webkit-autofill{background-color: #fff !important;}

.modal-content.modal-info{border-radius: 5px;  background-color:#0b2038;box-shadow: 0 2px 4px 0 rgba(8, 10, 12, 0.5); margin: 0 auto; }
.modal-backdrop.in {opacity: .6;}
.modal-content.modal-select-wagon{width: 303px;}
.modal-content.info-pass{width: 530px}
.modal-content.form-log-in{width: 420px;}
.modal-select-wagon .modal-header{padding-bottom: 0;} .modal-select-wagon .modal-body{padding: 10px 0 30px;}
.modal-content.form-log-in .modal-header h1{color:#35e0ff;font-size:18px;font-weight:400;line-height:26px; text-transform: uppercase;padding: 0 25px;}
.modal-content .modal-header .close{opacity: 1}
.modal-content.form-log-in .modal-header{padding-bottom: 0;margin-bottom: -15px;}

.modal-content .form-registation input[type="checkbox"] {display:none;}
.modal-content .form-registation input[type="checkbox"] + label span {display:inline-block;width:19px;height:19px;margin: -7px 9px -3px 0; vertical-align:middle;background:url("../images/icon/form-reg-check.png") center no-repeat;  cursor:pointer;  }
.modal-content .form-registation input[type="checkbox"]:checked + label span {background:url("../images/icon/form-reg-uncheck.png") center no-repeat;  }

/*********************FILTER*******************************************************************************************/
.content-result-search{margin-top: 40px;}

.filter-wrap{padding: 0;width: 20.13333%;}
.filter{border-radius: 4px; background-color:#f2f2f2; box-shadow: 0 2px 4px 0 rgba(3, 4, 5, 0.5);padding: 35px 22px 20px;}

.sorting{margin-bottom: 34px;}
.sorting-title{color:  #0054ac;font-size: 24px;font-weight: 700;line-height: 30px; text-transform: uppercase; text-align: center; margin-bottom: 25px}
.sorting .price-sort span, .sorting .time-sort span{cursor: pointer; color:  #0054ac;font-size: 18px;font-weight: 400;  line-height: 19px; text-decoration: none; border-bottom: 2px dotted #0054ac; display: inline-block}
.arrow-sort-up{background: url("../images/icon/arrow-sort.png") no-repeat 100% 50%; padding:0 20px;}
.arrow-sort-down{background: url("../images/icon/arrow-sort-down.png") no-repeat 100% 50%;}
.price-sort{float: left;} .time-sort{float: right}
.filter-accordion .checkbox-wrapper{margin-top: 0; margin-bottom: 0;}
.filter-accordion .checkbox-wrapper label{padding-left: 0}
.filter-accordion .accordion-body{margin-top:-7px}
.filter-time p{margin-top: 12px}
.filter-time span{font-size: 12px;font-weight: 400;line-height: 5px; color: #787878}
#slider-range-sortie, #slider-range-sortie-train{margin-bottom: 25px;}
#slider-range-arrival, #slider-range-arrival-train{margin-bottom: 35px;}

.filter-wrap-train .sorting-title{color:  #3055a8;}
.filter-wrap-train .sorting .price-sort span, .filter-wrap-train .sorting .time-sort span{color:  #3055a8; border-bottom: 2px dotted #3055a8;}


/*********************TABS RESULT SEARCH*******************************************************************************/
.tabs-result-search{width: 79.66666%;padding-right: 0; padding-left: 53px}
.tabs-result-search .nav-tabs {border-bottom: 2px solid #007fe5; margin-bottom: 45px;}
.tabs-result-search .nav-tabs>li {float: left;margin-bottom: -2px;width: 283px;text-align: center;}
.tabs-result-search .nav-tabs>li.active>a, .tabs-result-search .nav-tabs>li.active>a:focus, .tabs-result-search .nav-tabs>li.active>a:hover{  color: #007fe5;  cursor: default;  background-color: #fff;  border: 2px solid #007fe5;  border-bottom-color: transparent;  font-size: 20px;  font-weight: 400;  line-height: 30px;  text-transform: uppercase;  padding: 15px 25px;}
.tabs-result-search .nav-tabs>li>a span, .tabs-result-search .nav-tabs>li.active>a span{ font-weight: 300; margin-left: 15px}
.tabs-result-search .nav-tabs>li>a {margin-right: 10px;color:  #787878; font-size: 20px;  font-weight: 400;  line-height: 30px;  text-transform: uppercase;  padding: 15px 25px 13px;  border: 2px solid #dedede;;  border-radius: 4px 4px 0 0;  border-bottom-color: transparent;}

.tabs-result-search-train.tabs-result-search .nav-tabs {border-bottom: 2px solid #477ee1; margin-bottom: 30px;}
.tabs-result-search-train.tabs-result-search .nav-tabs>li.active>a, .tabs-result-search-train.tabs-result-search .nav-tabs>li.active>a:focus, .tabs-result-search-train.tabs-result-search .nav-tabs>li.active>a:hover{  color: #477ee1;  cursor: default;  background-color: #fff;  border: 2px solid #477ee1;  border-bottom-color: transparent;  font-size: 20px;  font-weight: 400;  line-height: 30px;  text-transform: uppercase;  padding: 15px 25px;}

/********************CONTENT SEARCH RESULT*****************************************************************************/
.tab-content-result-search .panel-default{border-color:  #c2c2c2;box-shadow: 0 2px 4px 0 rgba(3, 4, 5, 0.5);background-color: #f2f2f2; margin-bottom: 15px;}
.tab-content-result-search .panel-default .panel-heading{background-color: #fff;border-color:transparent; padding: 10px 10px 10px 20px;}
.link-return-ticket a {margin-left: 10px; color:#000; font-size: 14px;font-weight: 400;line-height: 30px;text-decoration: underline;}
.tab-content-result-search .panel-default .panel-body{background-color:  #f2f2f2; padding: 15px 20px; color:  #000;font-size: 16px;  font-weight: 400;  line-height: 20px;}

.label-list{margin-bottom: 0}
.label-list li{margin: 0 3px;display: inline-block; font-size: 12px;font-weight: 400; text-transform:uppercase;line-height: 10px;border-radius: 4px;padding: 10px}
li.label-green{border: 1px solid #aedf2a; color:#aedf2a;}
li.label-orange{border: 1px solid #ffb400; color:#ffb400;}
li.label-pink{border: 1px solid #f60462; color: #f60462;}
li.label-blue{border: 1px solid #0051bb; color: #0051bb;}
.time{color:#003175;font-size: 18px;font-weight:700;display: inline;}
.train-trip .time{margin-right: 7px}
.search-date{color:#6e6e6e; font-size: 14px;font-weight: 400;line-height: 13px;margin-top:10px}
.search-transship-text{color:  #6e6e6e; font-size: 12px;font-weight: 400;text-align: center}
.search-more-collapse .row{margin-bottom: 10px}

.col-search{float: left;position: relative; min-height: 1px;}

.col-search-info-train-wagon{display: flex; justify-content: flex-start;}
.col-search-date-train{display: flex; justify-content: space-between;}
.col-search-info-train{display: flex; justify-content: space-between; align-items: center; align-content: flex-start}
.marking-places{display: flex; margin: 20px 0 30px}
.display-flex{display: flex;}
.display-flex-end{display: flex; align-items: flex-end}


.col-line-fly{width: 18.7777%;margin-right: 25px;}
.col-search-fly{width: 11.1%; margin:0 15px 10px 10px;}
.col-flight-time{width: 16.2%;margin-left: 30px;}
.col-search-country-fly{width: 13.8%; margin-right: 15px; margin-top: 29px;}
.col-search-time-fly{width: 8%; margin-right: 15px;margin-top: 10px;}
.col-search-time-fly-arrive{width: 10%; margin-right: 15px;margin-top: 10px;}
.col-search-model-plane{width: 10%;margin-left: 5px;margin-top: 29px;}
.col-flight-aviacompany{margin-left: 70px;margin-top: 29px;}
.col-flight-aviacompany img, .info-booking img{margin-right: 15px}
.col-flight-price{margin-top: 27px;}


.line-fly{border-bottom: 2px solid #aedf2a; position: relative; margin: 10px 0 13px;}
.line-train.line-fly{width: 55px;margin: 10px 20px 13px;}
.line-fly.line-train .circle{top:0;background-color: #fff;}

.line-fly .circle{border-radius: 50%; border:2px solid #9cd900;background-color:#f2f2f2;width: 12px;height: 12px; position: absolute; top:-5px}
.circle.start-line{left: 0;}
.circle.end-line{right: 0}
.circle.middle-line{left: 46.6%;}
.circle.one-line{left: 30.3%;}
.circle.two-line{left: 63.9%;}
.time-train{display: inline-block}
.clock-for-train{vertical-align: top; margin-right: 10px; margin-top: 2px}

.flight-time, .search-more-collapse{color:#000;font-size: 14px;font-weight: 400;line-height: 25px;}
.flight-time img{margin-right: 15px;}

.flight-price{color:#000;font-size: 24px;font-weight: 700; line-height: 30px; text-align: center}
.flight-price span{font-size: 18px;font-weight: 400;padding-left: 10px}

.train-price{color:#000;font-size: 14px;font-weight: 400;line-height: 30px;}
.train-price span{font-size: 16px;font-weight: 700;}

.search-more-collapse {border-radius: 5px; background-color:  rgba(255, 255, 255, 0.8);box-shadow: 0 1px 2px 0 rgba(3, 4, 5, 0.25);    padding: 0 12px 0; margin:10px 0 20px;}
.model-plane{color: #434343;font-size: 14px;  font-weight: 400;  line-height: 18px;}
.more-time{color:#c1c1c1; line-height: 20px; font-size: 16px}
.flight-country{color:#6e6e6e; line-height: 15px}
.text-blue{color:  #007fe5;}
.hide-long-text{overflow: hidden;text-overflow: ellipsis; white-space: nowrap; }

.arrive-next-day{margin-left: -15px;margin-right: 5px; vertical-align: baseline;}

.plane-there-back{font-weight: 700; margin-bottom: 5px;    margin-left: 10px;}
.plane-there-back img{margin-left: -35px;margin-right: 15px; }

.line-gray{background-color:#898989; height: 1px;margin-bottom: 10px; margin-left: 17.66666667%;}
.line-gray-train{background-color:#898989; height: 1px;margin-bottom: 10px;}

.radio-result-flight{display: inline;margin-left: -38px;}
.radio-result-flight label{width: 16px; height: 7px;margin-right: 17px;}

/*****************************************SEARCH TRAIN*****************************************************************/
.search-more-collapse-train {border-radius: 5px;background-color: rgba(255, 255, 255, 0.8);box-shadow: 0 1px 2px 0 rgba(3, 4, 5, 0.25);padding: 18px 12px 0;  margin: 10px 0 20px;}

.calendar-train{display: flex;justify-content: space-between;}
.timesheet-day{color: #000;font-size: 12px;font-weight: 400;line-height: 18px;text-align: center;flex: 1 1 auto;padding: 10px 0;}
.timesheet-day p{margin-bottom: 0}
.count-train{font-weight: 700;}
.tab-content-result-search .panel-default.panel-calendar .panel-heading{padding: 2px 2px 1px}
.timesheet-day.active{border-radius: 5px;background-color:  #afd833; color: #fff; font-weight: 700}
.panel-train label{line-height: 20px; display: flex; padding-left: 0}
.panel-train input[type="radio"] + label > span{margin: 2px 10px 0 0;}
.cont-place p{margin-bottom: 5px; color: #545454; font-size: 14px}
.type-train{font-size: 14px;line-height:40px; color: #545454;}
.bold-text{color:#000;font-size: 16px;font-weight: 700;line-height: 30px;}

.info-train-wagon{margin-right: 25px}
.info-train-wagon label{font-size: 14px}
.train-trip{color:#000;font-size: 16px;font-weight: 400;line-height: 30px;display: flex; float: left}

.list-check-place{margin: 0 50px 0 40px}
.list-check-place li{display: inline-block; position: relative;margin-right: 35px}

.available{border-radius: 50%;background-color:  #79c6ed;width: 18px;height: 18px;display: inline-block; margin-bottom: -4px; margin-right: 10px}
.check-place{border-radius: 50%;background-color:  #126893;width: 18px;height: 18px;display: inline-block; margin-bottom: -4px; margin-right: 10px}
.unavailable{border-radius: 50%;background-color: #dadada;width: 17px;height: 17px;display: inline-block; border: 1px solid #a8a8a8;margin-bottom: -4px; margin-right: 10px}

.allocation-places{border-bottom: 1px dotted #545454; margin: 0 10px}
.delete-pass{color:#000;font-size: 16px;font-weight: 400;line-height: 30px;} .delete-pass img{margin-right: 12px;}
.wrap-date-birth{position: relative;display: inline;margin-right: 23px;}
.form-reservation{margin-top: 20px}
.form-reservation.form-search.form-inline .form-group .wrap-date-birth .input-arrow{bottom:4px}
.form-reservation.form-search.form-inline .form-group .input-arrow{bottom:18px}
.form-reservation.form-search.form-inline .form-group label, .checkbox-for-question label{padding-left: 0}
.form-reservation.form-search.form-inline .form-group{margin-bottom: 23px; margin-right: 23px;}
.form-reservation.form-search.form-inline .form-control{height: 42px; border-top-color: #ccc}

.more-services{margin-right: 20px; margin-top: 20px}
.checkbox-for-question{display:inline-flex;margin-bottom: 15px;}
.train-there-back{margin-bottom: 10px}
.text-gray{color: #898989;}
.info-booking{background-color:  #0b2038; padding: 20px 0; margin-top: 40px}
.close-book{float: right; margin-top: -15px}

/**********************************Confirmation Payment****************************************************************/
.route-ticket{font-size: 16px;font-weight: 500;line-height: 30px;}
.content-ticket{color:#000}
.address-company{font-size: 14px;font-weight: 300;line-height: 20px;}
.link-payment{color:  #155baa;font-size: 14px;font-weight: 400;line-height: 40px;}
.logo-payment{ margin: 15px 0}
.buyer{font-size: 16px;font-weight: 400;line-height: 25px;} .buyer span{text-transform: uppercase}
.option-receipt li{display: inline-block; margin-right: 25px}
.option-receipt li a{color:  #000;font-size: 14px;font-weight: 400;line-height: 40px; padding: 4px 10px 4px 33px}
#print-receipt{background: url("../images/print.png") no-repeat; }
#send-mail-receipt{background: url("../images/mail.png") no-repeat;}
#back-receipt{background: url("../images/back.png") no-repeat;}
#return-receipt{background: url("../images/return.png") no-repeat; padding-left: 25px}
#cancel-receipt{background: url("../images/cancel.png") no-repeat; padding-left: 25px}
.status-order{font-size: 16px;font-weight: 500;line-height: 36px; text-transform: uppercase}
.code-order{font-size: 14px;font-weight: 500;line-height: 20px; text-transform: uppercase}
.col-receipt-left{width: 35.3333%; display: flex; margin-bottom: 20px}
.col-receipt-right{width: 64.6666%; display: flex}
.code-reservation{margin-left: 30px;}
.buyer-name{margin-left: 6.777%;}
.heading-payment{font-size: 32px;font-weight: 700;line-height: 30px;margin: 30px 0 25px;}
.heading-order{font-size: 18px;font-weight: 400; line-height: 30px;} .result-price span, .heading-order span{font-weight: 700}
.details-payment{font-size: 18px;font-weight: 700; line-height: 30px;margin-bottom: 25px}
.text-uppercase{text-transform: uppercase;}
.info-order{border-color: #c2c2c2;box-shadow: 0 2px 4px 0 rgba(3, 4, 5, 0.5); padding: 25px 15px 20px}
.info-order .pull-left{font-weight: 300}
.result-price{font-size: 20px;font-weight: 400;line-height: 30px; text-transform: uppercase}
.panel-default.panel-order{margin-bottom: 35px}

@media (min-width: 1526px) {
    .container{width: 1494px; padding: 0}
    .form-search .form-group.button-center{margin: 0 auto;text-align: center;display: inline-block;}
    .timetables{padding-left: 100px;}
}

@media (max-width: 1525px) {
    .form-control.to-fly-search-result {width: 284px;}
    .container,.top-page-result-search .container, .container.content-result-search, .container.form-result-search,.container.main-content{width: 100%; padding: 0 15px}
    .col-search-model-plane{width: 12%;margin-left: 10px;margin-top: 29px;}
    .btn-filter {width: 100%;font-size: 14px;}
}
@media (max-width: 1450px) {
    .link-return-ticket{margin-right: 20px; margin-bottom: 10px}
    .label-list {float: left !important;}
    .tab-content-result-search .panel-default .col-lg-10{padding-left: 45px}
}
@media (min-width: 1200px ) and (max-width: 1465px){
    .container.content-result-search{width:100%}
    .col-search-model-plane{width: 10%;margin-left: 10px;margin-top: 29px;}
    .form-search .form-group.button-center{margin: 0 auto;text-align: center;display: block;}
    .form-control.to-fly {width: 230px;}
    .form-control.count-people {width: 239px;}
    .form-control.to-country {width: 430px;}
    .аdvanced-searh-content .col-lg-4{width:26.666%}
    #request-for-group-flight .modal-dialog{width: 1135px;}
    #proposition .col-action-block {padding-right: 15px;padding-left: 15px; min-height: 290px;}
    .timetables{padding-left: 20px;}
    .panel-default .media-left {padding-right: 15px;}
    .form-control.to-fly-search-result {width: 240px;}


}

@media (max-width: 1200px){
    .container.content-result-search{width:100%}
    .section-information .padding-left-q {padding-left: 60px;}
    .timetables {padding-left: 210px}
    #request-for-group-flight .modal-dialog{width: 95%;}
    footer ul {padding-bottom: 25px;}
    .аdvanced-searh-content .lg-offset{margin-left: 0}
    .form-search .аdvanced-searh-content .checkbox {display: inline-block; margin-right: 25px}
    .tabs-result-search {width: 100%;padding-right: 0;padding-left: 0;}
    .filter-wrap {padding-bottom: 20px;}
    .filter-wrap {width: 25.13333%;}
}
@media  (max-width: 992px){
    #proposition .col-action-block {padding-right: 155px;padding-left: 155px;}
    .section-information .padding-left-q {padding-left: 80px;}
    .timetables {padding-left: 100px}
    footer ul {padding-bottom: 25px;}
}
@media (max-width: 768px){
    .nav.user-menu.navbar-nav li{display: inline-block}
    .section-information .padding-left-q {padding-left: 80px;}
    .form-search .form-group {display: inline-block;}
}